template(x-if="state.presearchPackage && state.presearchPackage.html" x-effect="injectJs($el)")    
    div(class="px-2 2lg:ml-6 2lg:mt-0 mt-4 md:mb-4 md:px-0 infoSection")
        div(class="md:max-w-xl lg:max-w-2xl 2lg:max-w-sm bg-white dark:bg-background-dark200 shadow rounded dark:border-gray-600")
            div(class="relative p-5 text-gray-800 dark:text-white")
                div(class="flex justify-between items-center mb-3")
                    div(class="w-full flex flex-col justify-center relative info-text")
                            div 
                                div(x-html="state.presearchPackage.html")
                                div(class="flex mt-2 space-x-1 text-xs text-gray-600 dark:text-white") 
                                    p Created by 
                                        span(x-html="state.presearchPackage.info.author" class="font-bold")
                                    p Version 
                                        span(x-html="state.presearchPackage.info.version" class="font-bold")
                                    a(href="https://github.com/PresearchOfficial/presearch-packages/issues/new/choose") Feedback